@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



html,body {
    height: 100%;
    width: 100%;
    background-color: black;
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.61)),
        url("images/wallpaper-eva-background.jpg");
    background-size: cover;        
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Bebas Neue", cursive;
    unicode-bidi: isolate;
}

.active{
    align-items: center;
    color: white;
}
.active:hover {
    color: #FF2F28;
    transform: scale(1.2);
    text-decoration: none;
}
.active-a:hover {
    color: #FF2F28;
    text-decoration: none;
}


.logo{
    height: 60px;
    cursor: pointer;
}
.logo:hover{
    filter: drop-shadow(10px 10px 10px hsla(0, 0%, 0%, 0.445));
    transition-duration: .1s;
    transform: scale(2);
}

.header{
    display: flex;
    align-items: center;
}

.header_1{
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.568);
    align-items: center;
    padding: 30px 10%;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.nav__link:hover{
    align-items: center;
    color: white;
}

.nav__link:hover {
    color: #FF2F28;
    transform: scale(1.2);
    text-decoration: none;
}
.nav__link:hover {
    color: #FF2F28;
    text-decoration: none;
}

:root {
--header-height: 3.5rem;


--black-color: hsla(0, 0%, 0%, 0.486);
--black-color-light: hsl(0, 0%, 23%);
--black-color-lighten: hsl(0, 0%, 57%);
--white-color: white;
--body-color: hsl(220, 100%, 97%);


--body-font: "Bebas Neue", cursive;
--normal-font-size: .938rem;

--font-regular: 400;
--font-semi-bold: 600;


--z-tooltip: 10;
--z-fixed: 100;
}


@media screen and (min-width: 1024px) {
:root {
--normal-font-size: 1rem;
}
}


* {
box-sizing: border-box;
padding: 0;
margin: 0;
}

body {
font-family: var(--body-font);
font-size: var(--normal-font-size);
background-color: var(--body-color);
}

ul {
list-style: none;
/* Color highlighting when pressed on mobile devices */
/*-webkit-tap-highlight-color: transparent;*/
}

a {
text-decoration: none;
}

/*-------*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

/*--------*/
.header_1{
position: fixed;
top: 0;
left: 0;
width: 100%;
backdrop-filter: blur(10px);
z-index: var(--z-fixed);
}

/*------*/
.nav {
height: var(--header-height);
}

.nav__logo, 
.nav__burger, 
.nav__close {
color: var(--white-color);
}

.nav__data {
height: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}

.nav__logo {
display: inline-flex;
align-items: center;
column-gap: .25rem;
font-weight: var(--font-semi-bold);
/* Color highlighting when pressed on mobile devices */
/*-webkit-tap-highlight-color: transparent;*/
}

.nav__logo i {
font-weight: initial;
font-size: 1.25rem;
}

.nav__toggle {
position: relative;
width: 32px;
height: 32px;
}

.nav__burger, 
.nav__close {
position: absolute;
width: max-content;
height: max-content;
inset: 0;
margin: auto;
font-size: 1.25rem;
cursor: pointer;
transition: opacity .1s, transform .4s;
}

.nav__close {
opacity: 0;
}
/*----------------------------*/
@media screen and (max-width: 1118px) {
.nav__menu {
position: absolute;
text-align: center;
left: 0;
top: 2.5rem;
width: 100%;
height: calc(100vh - 3.5rem);
overflow: auto;
pointer-events: none;
opacity: 0;
transition: top .4s, opacity .3s;
}
.nav__menu::-webkit-scrollbar {
width: 0;
}
.nav__list {
background-color: var(--black-color);
display: inline-block;
list-style-type: none;
margin: 0;
padding: 0;
display: inline;
margin: 0 10px;
}
}



.nav__link {
color: var(--white-color);
font-weight: var(--font-semi-bold);
padding: 1.25rem 1.5rem;
display: block;
justify-content: space-between;
align-items: center;
transition: background-color .3s;
}

.nav__link:hover {
background-color: var(--black-color-light);
}

/* Show menu */
.show-menu {
opacity: 1;
top: 3.5rem;
pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
opacity: 0;
transform: rotate(90deg);
}
.show-icon .nav__close {
opacity: 1;
transform: rotate(90deg);
}


@media screen and (max-width: 340px) {
.container {
margin-inline: 1rem;
}

.nav__link {
padding-inline: 1rem;
}
}

/* -----*/
@media screen and (min-width: 1118px) {
.container {
margin-inline: auto;
}

.nav {
height: calc(var(--header-height) + 2rem);
display: flex;
justify-content: space-between;
}
.nav__toggle {
display: none;
}
.nav__list {
height: 100%;
display: inline-flex;
column-gap: 4rem;
font-size: 25px;
}
.nav__link {
height: 100%;
padding: 0;
justify-content: initial;
column-gap: .25rem;
}
.nav__link:hover {
background-color: transparent;
}

}
/*Nav*/
.active:hover{
    color: red;
    box-shadow: white
}

.list-nav {
    color: white;
    font-size: large;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    height: 70px;
    width: auto;
    transition: all 0.3s;
    list-style: none;
}


.btn-1 {
    background-color: red;
    border-color: red;
    border-style: solid;
    color: white;
    height: auto;
    width: auto;
    border-width: 1px;
    border-radius: none;
    cursor: pointer;
    font-size: larger;
    display: inline-block;
    padding: 5px 10px;
}

.btn-1:hover {
  box-shadow: rgba(255, 0, 0, 0.5) 0 1px 30px;
  transition-duration: .1s;
  color: #da2727;
  background-color: white;
}


.cine-arg:hover {
    filter: drop-shadow(10px 10px 10px hsla(219, 100%, 27%, 0.76));
    transition-duration: .1s;
  }
.cine-arg{
    max-width: 40%;
    height: auto;
    margin-left: auto;
    margin-top: auto;
    margin-right: 5px; 
}


.home{
    color: white;
    font-size: 20px;
    margin-left: auto;
    margin-top: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.contacto {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    color: #fff;
    position: relative;
    margin-top: 10%;
}


.contact-info {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: auto;
    backdrop-filter: blur(10px);
}

/* Estilos para el título "Nuestros datos de contacto" */
.contacto h2 {
    margin-top: 50px;
    text-align: center;
    font-size: 46px;
    animation: oscilar 2s infinite alternate;
    color: white;
    backdrop-filter: blur(10px);
    
}

/* Animación oscilante */
@keyframes oscilar {
    0% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(5px);
    }
}

.contact-info p {
    margin-bottom: 10px;
    font-size: 23px;
    line-height: normal;
    color: #bbdcff;
    backdrop-filter: blur(10px);
}

.contact-info strong {
    font-weight: bold;
}

.contact-info a {
    color: #68a4ff;
    text-decoration: none;
}



.redes-sociales {
    text-align: center;
    margin-top: 20%;
    position: relative;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
}

.redes-sociales h2 {
    color: #f4f5fa;
    font-size-adjust: none;
    text-align: center;
    margin-bottom: 30px;
    animation: aparecer-desaparecer 3s infinite alternate;
}


.subrayado {
    text-decoration: underline;
}
.contacto .contact-info h2 {
    text-decoration: underline;
}


@keyframes aparecer-desaparecer {
    0% {
        opacity: 0;
        
    }

    100% {
        opacity: 1;
        
    }
}

.bxl-facebook-circle, 
.bxl-twitter,
.bxl-instagram{
    color: red;
    border-color:white
}

.bxl-facebook-circle:hover {
    transform: translateY(-5px);
    color: white;
    filter: drop-shadow(2px 2px 2px red)
}

.bxl-twitter:hover {
    transform: translateY(-5px);
    color: white;
    filter: drop-shadow(2px 2px 2px red)
}

.bxl-instagram:hover {
    transform: translateY(-5px);
    color: white;
    filter: drop-shadow(2px 2px 2px red)
}

.redes-sociales .icono-red-social {
    margin: 0 15px;
    display: inline-block;
    font-size: 40px;
    transition: transform 0.3s ease, color 0.3s ease;
}



.modelViewPort {
    margin-left: 10px;
    perspective: none;
    width: 20rem;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;

}

.eva {
    --EVA-ROTATION-DURATION: 4s;
    transform-style: preserve-3d;
    animation: rotateRight var(--EVA-ROTATION-DURATION) linear infinite alternate;
}

.head {
    position: relative;
    width: 6rem;
    height: 4rem;
    border-radius: 48% 53% 45% 55% / 79% 79% 20% 22%;
    background: linear-gradient(to right, white 45%, gray);
}

.eyeChamber {
    width: 4.5rem;
    height: 2.75rem;
    position: relative;
    left: 50%;
    top: 55%;
    border-radius: 45% 53% 45% 48% / 62% 59% 35% 34%;
    background-color: #0c203c;
    box-shadow: 0px 0px 2px 2px white, inset 0px 0px 0px 2px black;
    transform: translate(-50%, -50%);
    animation: moveRight var(--EVA-ROTATION-DURATION) linear infinite alternate;
}

.eye {
    width: 1.2rem;
    height: 1.5rem;
    position: absolute;
    border-radius: 50%;
}

.eye:first-child {
    left: 12px;
    top: 50%;
    background: repeating-linear-gradient(65deg,
            #9bdaeb 0px,
            #9bdaeb 1px,
            white 2px);
    box-shadow: inset 0px 0px 5px #04b8d5, 0px 0px 15px 1px #0bdaeb;
    transform: translate(0, -50%) rotate(-65deg);
}

.eye:nth-child(2) {
    right: 12px;
    top: 50%;
    background: repeating-linear-gradient(-65deg,
            #9bdaeb 0px,
            #9bdaeb 1px,
            white 2px);
    box-shadow: inset 0px 0px 5px #04b8d5, 0px 0px 15px 1px #0bdaeb;
    transform: translate(0, -50%) rotate(65deg);
}

.body {
    width: 6rem;
    height: 8rem;
    position: relative;
    margin-block-start: 0.25rem;
    border-radius: 47% 53% 45% 55% / 12% 9% 90% 88%;
    background: linear-gradient(to right, white 35%, gray);
}

.hand {
    position: absolute;
    left: -1.5rem;
    top: 0.75rem;
    width: 2rem;
    height: 5.5rem;
    border-radius: 40%;
    background: linear-gradient(to left, white 15%, gray);
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.25);
    transform: rotateY(55deg) rotateZ(10deg);
}

.hand:first-child {
    animation: compensateRotation var(--EVA-ROTATION-DURATION) linear infinite alternate;
}

.hand:nth-child(2) {
    left: 92%;
    background: linear-gradient(to right, white 15%, gray);
    transform: rotateY(55deg) rotateZ(-10deg);
    animation: compensateRotationRight var(--EVA-ROTATION-DURATION) linear infinite alternate;
}

.scannerThing {
    width: 0;
    height: 0;
    position: absolute;
    left: 60%;
    top: 10%;
    border-top: 180px solid #9bdaeb;
    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
    transform-origin: top left;
    mask: linear-gradient(to right, white, transparent 35%);
    animation: glow 2s cubic-bezier(0.86, 0, 0.07, 1) infinite;
}

.scannerOrigin {
    position: absolute;
    width: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    left: 60%;
    top: 10%;
    background: #9bdaeb;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
    animation: moveRight var(--EVA-ROTATION-DURATION) linear infinite;
}

@keyframes rotateRight {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(25deg);
    }
}

@keyframes moveRight {
    from {
        transform: translate(-50%, -50%);
    }

    to {
        transform: translate(-40%, -50%);
    }
}

@keyframes compensateRotation {
    from {
        transform: rotateY(55deg) rotateZ(10deg);
    }

    to {
        transform: rotatey(30deg) rotateZ(10deg);
    }
}

@keyframes compensateRotationRight {
    from {
        transform: rotateY(55deg) rotateZ(-10deg);
    }

    to {
        transform: rotateY(70deg) rotateZ(-10deg);
    }
}

@keyframes glow {
    from {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    45% {
        transform: rotate(-25deg);
    }

    75% {
        transform: rotate(5deg);
    }

    100% {
        opacity: 0;
    }
}
