/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-image: url('../images/fondo.jpg');
    /* Ruta de la imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    color: #333;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.log-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.log-btn:hover {
    background-color: #0056b3;
}

.register-link {
    text-align: center;
    margin-top: 10px;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.footer ul li {
    margin: 0 15px;
}

.footer ul li a {
    color: white;
    text-decoration: none;
}

/* Estilos específicos para el formulario de registro */
.register-form-wrapper {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.register-form-wrapper h1 {
    text-align: center;
    margin-bottom: 20px;
}

.register-form-wrapper .input-box {
    position: relative;
    margin-bottom: 20px;
}

.register-form-wrapper input[type="text"],
.register-form-wrapper input[type="password"],
.register-form-wrapper input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.register-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.register-btn:hover {
    background-color: #218838;
}

.login-link {
    text-align: center;
    margin-top: 10px;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}